# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the 'go build' command
/build/

# Output of the 'go run' command
/run/

# Output of the 'go test' command
*.test

go.work

# Go coverage tool files
*.coverprofile
*.cover

# Dependency directories
vendor/

# Log files
*.log

# IDE/editor directories and files
.idea/
.vscode/
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db

# Additional directories
/tmp/

# Env file
.env
